body{
    height: calc(100vh - 84px - 96px); 
    margin: 0;
    font-family: sans-serif;
    background-image: url(../img/teknologi-masa-kini.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: cover;
    
}  
  .header{
    height: 84px;
    position: fixed;
    width: 100%;
    z-index:9999;
    
  }
  .header-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
  }
  
  
  
  
  .footer{height: 96px}

    .logo {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        }
      
      .login-start { 
        grid-area: login-section ;
        grid-area: login-section;
        display: flex;
        justify-content: flex-end;
        border: 1px solid #111; 
        border-width: 20px;
    }

    .header{
        background-color:transparent ;
      }

      .head-halaman{
        background-color:rgb(101, 101, 187) ;
        text-align: center;
        font-size: 20px;
      }

      .head-halaman a{
        padding:  18px  18px;
        text-decoration: none;
        color: #fff;
      }

      .footer{
        text-align: center;
        background-color:rgb(101, 101, 187) ;
        color: #fff;
      }

      .footer a{
        padding: 0 12px 0 12px;
        color: black;
      }

     main{
        color:#fff;
     }

     h2{
        color: #fff;
      }

      .Desain{
        color: #fff;
        text-align: center;
      }

      .content-wrapper{
        margin: 12px;
        padding: 12px;
      
      }

      .content-wrapper p{
        font-size: 24px;
      }
      
