body{
    height: 100vh ; 
    margin: 0;
    font-family: sans-serif;
  }
  .header{padding: 0px 24px ; height: 84px;}
  
  
  
  .footer{height: 96px}
  .header-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "login-section"
        "logo"
        "head-category";
    }
    
    /* .head-category {
      grid-area: head-category;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 24px;
  } */
    
    .logo {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      color: #fff;
      }
    
    .login-section { 
      grid-area: login-section;
      grid-area: login-section;
      display: flex;
      justify-content: flex-end; 
  }
  
  .header{
    background-color:#9BA4B5 ;
  }
  .head-category{
    background-color: #9BA4B5;
    text-align: center;
  }
  
  .head-category a{
    padding: 0 12px 0 12px;
    text-decoration: none;
    color: #fff;
  }
  
  .footer{
    text-align: center;
    background-color: #9BA4B5;
    color: #fff;
  }
  
  .footer a{
    padding: 0 12px 0 12px;
    color: white;
  }
  
  /* main-start */
  main{
    height: calc(100vh - 84px - 96px);
    background-image: url(background-header.jpg);
    background-size: cover;
    color: #9BA4B5;
  }
  
  h2{
    color: #fff;
  }
  
  .content-wrapper{
    margin: 12px;
    padding: 12px;
  
  }
  
  .content-wrapper p{
    font-size: 24px;
  }
  
  
  /* main-end */